<!--
<select ng-change="emailAddressChanged()" ng-model="selectedLocalPart">
    <option ng-repeat="mailAddress in mailAddresses | orderBy:'created':true">{{mailAddress.local_part}}</option>
</select>

<select ng-change="domainChanged()" ng-model="selectedDomain">
    <option ng-repeat="domain in domains | orderBy:'created':true">{{domain.domain | trim}}</option>
</select>
-->

<div class="webmail">

    <header>
        <a href="/"><img src="/img/maily-logo.svg" alt=""></a>
        <div>
            <p>
                {{email}}
            </p>
        </div>
    </header>

    <section>
        <div class="desc mycss">
            <div id="list-detail">
                <span>Inbox</span>
                <span>[{{mails.length}}]</span>
            </div>
            <div ng-repeat="mail in mails | orderBy:'id':true" ng-click="showDetail(mail)" id="mail_{{mail.id}}" class="mail" ng-class="{active: activeId == mail.id}">
                <h2 class="ellips">
                    {{mail.headers.from | noEmpty: '[No Sender]'}}
                </h2>
                <h3 class="ellips">
                    {{mail.headers.subject | noEmpty: '[No Subject]'}}
                </h3>
                <p class="content-preview ellips" ng-bind-html="mail.message | strip | oneLine">

                </p>
            </div>
        </div>

        <div class="content">
            <div id="header" class="mycss">
                <div>
                    <h1>{{subject | noEmpty: '[No Subject]'}}</h1>
                    <div id="date">{{(timestamp * 1000) | date}}</div>
                    <div id="from">{{from | noEmpty: '[No Sender]'}}</div>
                    <div id="to">{{to}}</div>
                </div>

            </div>
            <div id="message">

            </div>
        </div>
    </section>
</div>